@font-face {
    font-family: 'Favorite';
    src: url('./book.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Favorite';
    src: url('./regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Favorite';
    src: url('./medium.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Favorite';
    src: url('./bold.ttf');
    font-weight: 800;
    font-style: normal;
}