

.section-top {
    border-top: 10px solid var(--theme-color-primary);
    padding: 50px 0;
}

.section-top-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section-top-logo {
    flex-grow: 1;
    height: 70px;
}
.section-top-logo img {
    height: 100%;
    object-fit: contain;
}


.section-top-menu-wrapper {
    display: flex;
    align-items: center;
}

.section-top-menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.section-top-menu-container > li,
.section-top-button {
    border: 2px solid var(--theme-color-light);
    border-radius: 9px;
    box-shadow: 0 8px 24px var(--theme-color-light);
    transition: 0.3s;
    position: relative;
}
.section-top-button {
    border: 2px solid var(--theme-color-secondary);
}

.section-top-menu-container > li:hover,
.section-top-button:hover {
    border: 2px solid var(--theme-color-secondary);
    z-index: 1;
}
.section-top-menu-container > li a,
.section-top-button a {
    color: var(--theme-color-primary);
    text-decoration: none;
    padding: 12px 21px;
    display: inline-block;
}

.section-top-menu-container > li.menu-item-has-children {
    padding-left: 30px;
    background: url('../img/arr_down_01.svg') no-repeat 15px center;
    background-size: 15px;
}

.section-top-button-wrapper {
    display: block;
}
.section-top-button a {
    text-wrap: nowrap;
}
.section-top-menu .sub-menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    list-style-type: none;
    left: -1px;
    top: 100%;
    padding: 10px 0;
}
.section-top-menu .sub-menu > li {
    background: #ffffffe0;
}
.section-top-menu .sub-menu > li:last-child {
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}
.section-top-menu .sub-menu > li a {
    padding: 10px 30px;
    text-wrap: nowrap;
}
.section-top-menu .sub-menu > li:hover a {
    color: var(--theme-color-secondary);
}

.section-top-menu-container > li:hover .sub-menu {
    opacity: 1;
    pointer-events: all;
}

.section-top-hamburger {
    display: none;
    cursor: pointer;
}
.section-top-hamburger svg path {
    stroke: var(--theme-color-primary);
    transition: 0.3s;
}
.section-top-hamburger-close {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}
.section-top-hamburger-close svg path {
    stroke: var(--theme-color-primary);
    transition: 0.3s;
}

@media screen and (max-width: 1440px) {
    .section-top {
        padding: 30px 0;
    }
    .section-top-logo {
        height: 45px;
    }
    .section-top-menu-container > li a,
    .section-top-button a {
        padding: 9px 17px;
        display: inline-block;
    }
}

@media screen and (max-width: 720px) {

    .section-top-menu-wrapper.open {
        left: 0;
    }
    .section-top-menu-wrapper {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: white;
        transition: 0.3s;
        display: block;
        padding: 40px;
        overflow-y: auto;
    }
    .section-top-logo {
        order: 1;
    }
    .section-top-hamburger {
        display: block;
        order: 3; 
    }
    .section-top-hamburger-close {
        display: block;
    }
    .section-top-button-wrapper {
        min-width:100%;
        order: 4;
        display: flex;
    }
    .section-top-menu-container > li > a {
        color: var(--theme-color-secondary);
        font-size: 30px;        
    }
    .section-top-menu ul {
        display: block;
    }
    .section-top-menu ul li,
    .section-top-menu ul li a,
    .section-top-menu ul li:hover,
    .section-top-menu ul li.menu-item-has-children {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    .section-top-menu .sub-menu {
        position: relative;
        opacity: 1;
        pointer-events: all;
    }
    .section-top-menu .sub-menu li {
        margin: 0;
        padding: 0;
    }
    .section-top-menu .sub-menu li a {
        margin: 0;
        padding: 5px 0;
    }

    
}