.section-hero {


}

.section-hero-wrapper {
    /* height: 600px; */
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 80px 0;
}
.section-hero-images-wrapper {
    /* height: 100%; */
    position: absolute;
    inset: 0;
}
.section-hero-images {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    height: 100%;
}
.section-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-hero-images.slick-initialized {
    visibility: visible;
    opacity: 1;    
}
.section-hero-container {
    /* height: 100%; */
}
.section-hero-data {
    /* position: absolute;
    inset: 80px 0; */
    display: flex;
    /* padding: 60px 0; */
}
.section-hero-data-left {
    min-width: 50%;
}
.section-hero-data-left-wrapper {
    height: 100%;
    width: 100%;
    max-width: 600px;
    background: #ffffffc0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 70px 80px;
    border-radius: 40px;
    box-shadow: inset 0 0 40px #ffffffd0;
    backdrop-filter: blur(20px);
}

.section-hero-data-title {
    /* font: var(--title-font); */
    margin: 0 0 40px 0;
}
.section-hero-data-text {
}
.section-hero-data-divider {
    /* height: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background: linear-gradient(180deg, var(--theme-color-secondary-light), var(--theme-color-secondary));
    width: 100%; */
}

.section-hero-data-right {
    min-width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 80px;
}
.section-hero-images-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}
.section-hero-images-controls-dots ul {
    display: flex;
    gap: 13px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
}
.section-hero-images-controls-dots ul button {
    display: flex;
    outline: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    border-radius: 20px;
    width: 13px;
    height: 13px;
    color: transparent;
}
.section-hero-images-controls-dots ul li.slick-active button {
    width: 23px;
    height: 23px;
}
.section-hero-images-controls-left,
.section-hero-images-controls-right {
    width: 45px;
    height: 45px;
    background: linear-gradient(135deg, var(--theme-color-secondary-light), var(--theme-color-secondary));
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-hero-images-controls-left img,
.section-hero-images-controls-right img {
    width: 11px;
}
.section-hero-images-controls-right img {
    transform: scaleX(-1);
}

@media screen and (max-width: 1440px) {
    .section-hero-wrapper {
        padding: 40px 0;
    }
    .section-hero-data-left-wrapper {
        padding: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .section-hero-wrapper {
        padding: 40px 0;
    }
    .section-hero-images-controls-dots {
        display: none;
    }
    .section-hero-data-left {
        flex-grow: 1;
    }
    .section-hero-data-right {
        min-width: unset;
        padding: 0 0 0 60px;
    }
}
@media screen and (max-width: 720px) {
    .section-hero-data {
        flex-direction: column;
        padding: 0;
    }
    .section-hero-data-left {
        padding-top: 40px;
    }
    .section-hero-data-right {
        padding: 0 0 40px;
    }
    .section-hero-wrapper {
        padding: 0;
        max-width: unset;
    }
    .section-hero-data-left-wrapper {
        border-radius: 20px;
        padding: 40px;
    }
    .section-hero-data-text {
        text-align: center;
    }
    .section-hero-data-title {
        text-align: center;
        margin: 0 auto 20px auto;
    }
    .section-hero-images-controls {
        width: 100%;
        padding-top: 300px;
        justify-content: center;
    }
    .section-hero-images-controls-dots {
        display: flex;
    }

}
