.section-intro {
    padding: 90px 0;
    text-align: center;
    overflow: hidden;
}
.section-intro-bg-top {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
}
.section-intro-bg-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 80%;
}

.section-intro .container {
    z-index: 2;
}

.section-intro-title {

}

.section-intro-divider {
    height: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background: linear-gradient(180deg, var(--theme-color-secondary-light), var(--theme-color-secondary));
    width: 100%;
}

.section-intro-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
}
